body {
    margin: 30px;
}

td {
    width: 90px;
    padding: 0px 15px;
    color: #1f75ce;
    font-size: 30px;
    font-weight: 400;
}

td:hover
{
    cursor: pointer;
}

thead {
    width: 460px;
    background-color: #fec107;
    font-size: 60px;
    padding: 15px 15px 15px 15px;
    color: #000;
}

.tr2 {
    border: 1px solid lightgray;
    height: 90px;
}

#newImg {
    font-size: 90px;
}

.Ali {
    width: 232px;
    font-size: 30px;
    color: #000;
}

#newAli
{
    font-size: 45px;
}

.txt {
    width: 264px;
}

.empty {
    width: 3px;
}



span {
    width: 24px;
    color: white;
    font-size: smaller;
    border-radius: 20%;
    padding: 5%;
    font-weight: 500;
}

.tdDatos
{
    
    text-align: right;
}